<!DOCTYPE html>
<html>
<head>
    <title>Hello World!</title>
</head>
<body>

    <div>
         <p>
         {% if filename %}
		   <img src="{{ url_for('uploaded_file', filename=filename) }}" height="200">
		{% else %}
		  <h1>no image for whatever reason</h1>
		{% endif %}
         </p>
         <h1> {{object_class[0][0] * 100 }} % Bad and {{object_class[0][1] * 100 }} % Good  </h1>
    </div>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
      <input type=submit value=Upload>
     </form>
</body>
</html>